@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

main {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
	display: inline-block;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div {
    display: flex;
    flex-direction: row;
    width: 30%;
}

header div#fotoNoLugarErrado img {
    margin-left: 20px;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

header nav a {
    color: #1351d8;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;
}

header nav a:hover {
    color: #1b357e;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}

main {
    height: calc(80% - 1px);
}

nav#social {
    display: inline;
}

nav#social ul img {
    width: 28px;
}

span.redesociais {
    color: #ffffff;
    vertical-align: super;
}

span#textoQueFaltava {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #1351d8;
}

footer {
    background: #1b357e;
    color: #ffffff;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div span {
    padding-left: 2px;
    padding-right: 2px;
}
footer div span img {
    width: 40px;
}

button:hover {
    background: #1b357e;
}
button {
    background: #1351d8;
    color: #fff;
    border: 0px;
    border-radius: 10px;
}

.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}

div#lawCompliance {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

div#lawCompliance span {
    font-size: 11.5px;
    font-weight: bold;
    color: #807d7d;
    text-align: left;
    width: 100%;
    margin-left: 5px;
}

div#lawCompliance span input {
    margin-left: 0px;
    width: 16px;
}

div#lawCompliance span a {
    text-decoration: none;
    color: #1351d8;
}

button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
}

.titulo {
    margin-left: 8px;
}